$main-font-family: "Plus Jakarta Sans", sans-serif;
$color-purple: #666ca3;
$color-black: #13183f;
$color-gray: #83869a;
$color-pink: #f74780;
$color-light-pink: #ffa7c3;
$color-white: #fff;
$color-gradient-card: linear-gradient(to bottom, #f02aa6, #ff308b, #ff4372, #ff595b, #ff6f48);
$color-gradient-button: linear-gradient(to bottom, #4851ff, #9642eb, #c133d4, #dd28bd, #f02aa6);
